{% extends 'users.html.twig' %}


{% block body %}

    <h1> Users </h1>

    <a href="{{ path('app_logout') }}" type="button" class="btn btn-dark">logOut</a>

<table class="table table-striped">
    <thead>
    <tr>
        <th> first_name </th>
        <th> last_name </th>
        <th> address </th>
        <th> disponibility </th>
    </tr>
    </thead>
    <tbody>

    {%  for candidate in users %}
    <tr>

        <td> {{ candidate.firstName }}</td>
        <td> {{ candidate.lastName }}</td>
        <td> {{ candidate.address }}</td>
        <td> {{ candidate.disponibility }}</td>
        <td> <a href="{{ path('commercial_modification', {"id":candidate.id})  }}" type="button" class="btn btn-info">Modify</a></td>
    </tr>
    {% endfor %}
    </tbody>

</table>

    <h1> Documents </h1>
<a href="{{ path('commercial_doc') }}" > Add Document </a>


    <h1> Experience </h1>

    <a href="{{ path('commercial_experience') }}" > Add experience </a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th> entreprise </th>
            <th> start_date </th>
            <th> end_date </th>
            <th> details </th>
        </tr>
        </thead>
        <tbody>


        {% for experience in experiences %}
            <tr>
                <td> {{ experience.entreprise }}</td>
                <td> {{ experience.startDate|date("d-m-Y") }}</td>
                <td> {{ experience.endDate|date("d-m-Y") }}</td>
                <td> {{ experience.details }}</td>
                <td>
                    <a href="{{ path("experience_modification", { id : experience.id}) }}">
                        Modify
                    </a>
                </td>
            </tr>
        {% endfor %}



        </tbody>

    </table>



{% endblock %}
